* {
    font-family: 'Nunito Sans';
    box-sizing: border-box;
  }
  header {
    display: flex;
    justify-content: center
  }
  
  body {
    background-color: #59CD90;
    color: #3FA7D6;
    font-family: "Fjalla One", Arial;
  }
  .overlay {
    width: 80%;
    min-width: 30%;
    margin: 3% auto;
    display: block;
    padding: 2%;
    height: 150vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    text-align: center;
  }
  .navigation {
    box-sizing: border-box;
    background-color: #3587A4;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
  }
  
  .active {
    color: #88CCF1;
  }
  .intro {
    font-size: 50px;
    font-weight: 700;
    color: #a5a5a5;
  }  
 
  .list_skills{
    float: center;
    margin: 0 200px;
    list-style-type: "\1F44D"; // thumbs up sign
  }